<ion-menu side="start" content-id="main-content" class="custom-menu">
  <ion-header>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- Authentication-related menu items -->
      <ion-item *ngIf="!isAuthenticated" [routerLink]="['/login']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Iniciar sesión</ion-label>
      </ion-item>
      <ion-item *ngIf="!isAuthenticated" [routerLink]="['/register']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Registrarse</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/viajes']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Tus Viajes</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/mensajes']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Mensajes</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/perfil']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" (click)="logout()">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Content -->
<ion-header>
  <ion-toolbar class="thin-toolbar">
    <ion-title class="ion-text-center"><a [routerLink]="['/home']" class="toolbar-title">
      TellevoAPP
    </a></ion-title>
  
    <ion-buttons slot="start" class="ion-padding toolbar-buttons">
      <ion-menu-button class="large-menu-button">
        <ion-icon name="person-outline"></ion-icon>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    
    <ion-buttons slot="end" class="ion-padding toolbar-buttons">
      <ion-icon name="search-outline" class="ion-margin-end small-icon" [routerLink]="['/buscar']"></ion-icon>
      <ion-icon name="add-circle-outline" [routerLink]="['/publicar']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/pfp.png" alt="Conductor" class="driver-picture"></ion-img>
      <ion-card-title class="ion-text-center">Detalles del Viaje</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Conductor: Toreto</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="assets/map.png"></ion-img>
      <div class="trip-info">
        <div class="info-item">
          <ion-label>Origen:</ion-label>
          <span>Concepcion</span>
        </div>
        <div class="info-item">
          <ion-label>Destino:</ion-label>
          <span>Penco</span>
        </div>
        <div class="info-item">
          <ion-label>Hora de Salida:</ion-label>
          <span>14:00</span>
        </div>
        <div class="info-item">
          <ion-label>Hora de Llegada:</ion-label>
          <span>16:00</span>
        </div>
        <div class="info-item">
          <ion-label>Precio:</ion-label>
          <span>CLP 5,000</span>
        </div>
        <div class="info-item">
          <ion-label>Asientos Disponibles:</ion-label>
          <span>2</span>
        </div>
      </div>

      <ion-card-header>
        <ion-card-title class="ion-text-center">Detalles del Auto</ion-card-title>
      </ion-card-header>
      <div class="car-info">
        <div class="info-item">
          <ion-label>Marca:</ion-label>
          <span>Suzuki</span>
        </div>
        <div class="info-item">
          <ion-label>Modelo:</ion-label>
          <span>Alto</span>
        </div>
        <div class="info-item">
          <ion-label>Color:</ion-label>
          <span>Azul</span>
        </div>
        <div class="info-item">
          <ion-label>Matrícula:</ion-label>
          <span>ABC-123</span>
        </div>
      </div>

      <!-- Replace "Confirmar Reserva" button with "Volver" button -->
      <ion-button expand="block" color="primary" class="ion-margin-top" [routerLink]="['/viajes']">
        Volver
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
