<ion-content [fullscreen]="true">
  <!-- Texto del título -->
  <ion-text class="heading" color="primary">
    <h2>Selecciona el Auto</h2>
  </ion-text>

  <!-- Campo de entrada para el modelo de auto -->
  <ion-item>
    <ion-label position="floating">Marca y Modelo del Auto</ion-label>
    <ion-input 
      [(ngModel)]="auto" 
      placeholder="Ej: Nissan Sentra" 
      type="text">
    </ion-input>
  </ion-item>

  <!-- Navegación hacia la siguiente página -->
  <ion-button shape="round" size="large" class="arrow-button" (click)="goToNextPage()">
    <ion-icon name="arrow-forward-outline" class="large-icon"></ion-icon>
  </ion-button>
</ion-content>
