ion-icon {
  font-size: 27px;
}

.small-icon{
  font-size: 25px;
}

ion-input {
  margin-left: 10px;
}

h1 {
  font-weight: bolder;
}

/* Espacio entre el icono y el título */
.info-text h6 {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 8px; /* Reduce el espacio superior del título */
  margin-bottom: 4px; /* Reduce el espacio inferior del título */
  color: black;
}

/* Espacio entre el título y el párrafo */
.info-text p {
  margin: 4px 0 8px;
  font-size: 15px;
}

.large-icon{
  font-size: 60px;
}

.large-menu-button {
  width: 60px; 
  height: 60px; 
}

.thin-toolbar {
  height: 60px;
  min-height: 60px; 
  --min-height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
}
.large-menu-button ion-icon {
  font-size: 1.5em; 
}

.ion-text-center {
  flex: 1;
  text-align: center;
}

.custom-menu {
  --height: 100vh;
  top: 60px;
  height: var(--height);
  position: absolute; 
}


.toolbar-title {
  text-decoration: none; 
  color: inherit; 
  font-weight: bold; 
}
.custom-margin{
  margin-left: 9px;
}
custom-margin-number{
  margin-left: 5px;
}

.custom-icon {
  font-size: 25px;
}

.trip-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  margin: 10px auto;
  max-width: 320px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.trip-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.trip-container {
  display: flex;
  flex-direction: column;
}

.trip-price {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #007bff;
}

.trip-route {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.route-point {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  max-width: 90%; /* Limita el ancho de cada punto de ruta */
}

.point {
  width: 8px;
  height: 8px;
  background-color: #007bff;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0; /* Evita que el punto se deforme */
}

.route-text {
  font-size: 0.80rem;
  color: #333;
  white-space: nowrap; /* Evita que el texto pase a otra línea */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es muy largo */
  font-weight: bold;
  width: 200px; 
}

.line {
  width: 2px;
  height: 30px;
  background-color: #007bff;
  margin-left: 3px; /* Alinea la línea con los puntos */
}

.trip-date {
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 10px;
}

.divider {
  height: 1px;
  background-color: #ccc;
  margin: 3px 0;
}

.driver-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.driver-picture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.driver-details {
  font-size: 0.85rem;
  color: #555;
}

/* Ajustamos el contenido para que tenga márgenes */
.custom-background {
  padding: 10px;
  background-color: #f9f9f9;
}



