<ion-content [fullscreen]="true">

  <!-- Texto arriba de la barra de búsqueda -->
  <ion-text class="heading" color="primary">
    <h2>¿De dónde sales?</h2>
  </ion-text>

  <!-- Barra de búsqueda que abrirá el ion-select y mostrará el campus seleccionado -->
  <ion-searchbar 
    placeholder="Buscar campus" 
    [(ngModel)]="selectedCampus" 
    (ionFocus)="openSelect()">
  </ion-searchbar>

  <!-- Ion-select que estará oculto -->
  <ion-item style="display: none;">
    <ion-select #campusSelect (ionChange)="onCampusSelected($event)" interface="alert" placeholder="Selecciona un campus">
      <ion-select-option value="Campus Alameda">Campus Alameda</ion-select-option>
      <ion-select-option value="Campus Antonio Varas">Campus Antonio Varas</ion-select-option>
      <ion-select-option value="Campus Educación Continua">Campus Educación Continua</ion-select-option>
      <ion-select-option value="Campus Maipú">Campus Maipú</ion-select-option>
      <ion-select-option value="Campus Melipilla">Campus Melipilla</ion-select-option>
      <ion-select-option value="Campus Padre Alonso de Ovalle">Campus Padre Alonso de Ovalle</ion-select-option>
      <ion-select-option value="Campus Plaza Norte">Campus Plaza Norte</ion-select-option>
      <ion-select-option value="Campus Plaza Oeste">Campus Plaza Oeste</ion-select-option>
      <ion-select-option value="Campus Plaza Vespucio">Campus Plaza Vespucio</ion-select-option>
      <ion-select-option value="Campus Puente Alto">Campus Puente Alto</ion-select-option>
      <ion-select-option value="Campus San Bernardo">Campus San Bernardo</ion-select-option>
      <ion-select-option value="Campus San Carlos de Apoquindo">Campus San Carlos de Apoquindo</ion-select-option>
      <ion-select-option value="Campus San Joaquín">Campus San Joaquín</ion-select-option>
      <ion-select-option value="Campus Valparaíso">Campus Valparaíso</ion-select-option>
      <ion-select-option value="Campus Viña del Mar">Campus Viña del Mar</ion-select-option>
      <ion-select-option value="Campus San Andrés de Concepción">Campus San Andrés de Concepción</ion-select-option>
            <ion-select-option value="Campus Arauco">Campus Arauco</ion-select-option>
            <ion-select-option value="Campus Nacimiento">Campus Nacimiento</ion-select-option>
            <ion-select-option value="Campus Villarrica">Campus Villarrica</ion-select-option>
            <ion-select-option value="Campus Puerto Montt">Campus Puerto Montt</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Imagen ajustada para que el botón siempre esté visible sin necesidad de hacer scroll -->
  <div *ngIf="showMap" class="full-screen-image">
    <img src="assets/campus.png" alt="Mapa del campus" class="map-image" />
    <ion-button shape="round" size="large" class="arrow-button" (click)="goToNextPage()">
      <ion-icon name="arrow-forward-outline" class="large-icon"></ion-icon>
    </ion-button>
  </div>

</ion-content>
