html, body, ion-content {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: bolder;
}

.heading {
  text-align: center;
  margin-top: 10px;
}

/* Estilo para el botón que solo será visible al seleccionar una dirección */
.go-to-destination-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  --background: #007aff; /* Azul */
  --color: white;
  width: 60px; /* Botón más grande */
  height: 60px;
  border-radius: 50%; /* Hacer que sea perfectamente redondo */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Si deseas un estilo más destacado para el icono */
.go-to-destination-button ion-icon {
  font-size: 30px;
}

.large-icon {
  font-size: 36px; /* Icono de la flecha más grande */
}
