<ion-content>
  <!-- Texto arriba de la barra de búsqueda -->
  <ion-text class="heading" color="primary">
    <h2>¿De dónde sales?</h2>
  </ion-text>

  <!-- Barra de búsqueda para ingresar una dirección -->
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearch()" debounce="300" placeholder="Buscar dirección..."></ion-searchbar>

  <!-- Sugerencias de búsqueda -->
  <ion-list *ngIf="suggestions.length > 0">
    <ion-item *ngFor="let suggestion of suggestions" (click)="onSelectSuggestion(suggestion)">
      <ion-label>{{ suggestion.place_name }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- Contenedor del mapa -->
  <div #mapContainer style="width: 100%; height: 100%;"></div>

  <!-- Botón para navegar a la siguiente página (destino), visible solo después de seleccionar una dirección -->
  <ion-button 
    *ngIf="showButton" 
    shape="round" 
    size="large"
    (click)="goToNextPage()" 
    class="go-to-destination-button">
    <ion-icon name="arrow-forward-outline" class="large-icon"></ion-icon>
  </ion-button>

</ion-content>
