ion-icon {
  font-size: 27px;
}

.small-icon{
  font-size: 25px;
}

ion-input {
  margin-left: 10px;
}

h1 {
  font-weight: bolder;
}

/* Espacio entre el icono y el título */
.info-text h6 {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 8px; /* Reduce el espacio superior del título */
  margin-bottom: 4px; /* Reduce el espacio inferior del título */
  color: black;
}

/* Espacio entre el título y el párrafo */
.info-text p {
  margin: 4px 0 8px;
  font-size: 15px;
}

.large-icon{
  font-size: 60px;
}

.large-menu-button {
  width: 60px; 
  height: 60px; 
}

.thin-toolbar {
  height: 60px;
  min-height: 60px; 
  --min-height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
}
.large-menu-button ion-icon {
  font-size: 1.5em; 
}

.ion-text-center {
  flex: 1;
  text-align: center;
}

.custom-menu {
  --height: 100vh;
  top: 60px;
  height: var(--height);
  position: absolute; 
}


.toolbar-title {
  text-decoration: none; 
  color: inherit; 
  font-weight: bold; 
}
.custom-margin{
  margin-left: 9px;
}
custom-margin-number{
  margin-left: 5px;
}

.custom-icon {
  font-size: 25px;
}

.trip-container {
  padding: 16px;
}

.trip-route {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.route-point {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  max-width: 90%; /* Limita el ancho de cada punto de ruta */
}

.point {
  width: 8px;
  height: 8px;
  background-color: #007bff;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0; /* Evita que el punto se deforme */
}
.line {
  width: 2px;
  height: 30px;
  background-color: #007bff;
  margin-left: 3px; /* Alinea la línea con los puntos */
}

.route-text {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap; /* Evita que el texto pase a otra línea */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es muy largo */
}

.route-time {
  margin-left: auto;
  font-size: 14px;
  color: #666;
}
.divider {
  height: 5px;
  background-color: #e0e0e0;  /* Gris más claro */
  margin: 16px 0;
  width: 100vw; /* Para ocupar todo el ancho de la pantalla */
  position: relative; /* Para asegurar que se posicione correctamente */
  left: 50%; /* Ajusta la posición desde el centro */
  right: 50%; /* Ajusta la posición desde el centro */
  margin-left: -50vw; /* Centra el divider sobre el 100vw */
  margin-right: -50vw; /* Centra el divider sobre el 100vw */
}


.info-bar {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}

.driver-info {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.driver-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.driver-details p {
  margin: 0;
}

.precio{
  font-weight: bold;
  font-size: 16px;
}
.fecha-titulo{
  font-weight: bold;
}

.btn-arrow-margin{
  margin-left: -12px;
}

.pasajeros{
  margin-top: 0px;
  color: gray;
  font-size: 10px;
  text-align: center;
}