ion-icon {
  font-size: 27px;
}

.small-icon{
  font-size: 25px;
}

h2 {
  font-weight: bolder;
}
.large-icon{
  font-size: 60px;
}

.large-menu-button {
  width: 60px; 
  height: 60px; 
}

.thin-toolbar {
  height: 60px;
  min-height: 60px; 
  --min-height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
}
.large-menu-button ion-icon {
  font-size: 1.5em; 
}

.ion-text-center {
  flex: 1;
  text-align: center;
}

/* Custom styles for the menu */
.custom-menu {
  --height: 100vh;
  top: 60px; /* Offset the menu to start below the header */
  height: var(--height);
  position: absolute; /* Ensure it doesn't cover the header */
}

/* Estilo para quitar el subrayado del enlace dentro del ion-title */
.toolbar-title {
  text-decoration: none; /* Quita el subrayado del enlace */
  color: inherit; /* Asegura que el color herede del toolbar */
  font-weight: bold; /* Opcional: ajusta el peso de la fuente según sea necesario */
}
