<ion-menu side="start" content-id="main-content" class="custom-menu">
  <ion-header>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="!isAuthenticated" [routerLink]="['/login']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Iniciar sesión</ion-label>
      </ion-item>
      <ion-item *ngIf="!isAuthenticated" [routerLink]="['/register']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Registrarse</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/viajes']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Tus Viajes</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/mensajes']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Mensajes</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/perfil']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" (click)="logout()">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<!-- Main Content -->
<ion-header>
  <ion-toolbar class="thin-toolbar">
    <ion-title class="ion-text-center"><a [routerLink]="['/home']" class="toolbar-title">
      TellevoAPP
    </a></ion-title>
  
    <ion-buttons slot="start" class="ion-padding toolbar-buttons">
      <ion-menu-button class="large-menu-button">
        <ion-icon name="person-outline"></ion-icon>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    
    <ion-buttons slot="end" class="ion-padding toolbar-buttons">
      <ion-icon name="search-outline" class="ion-margin-end small-icon" [routerLink]="['/buscar']"></ion-icon>
      <ion-icon name="add-circle-outline" [routerLink]="['/publicar']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Para estudiantes de Duoc: Conecta, ahorra y llega más lejos juntos.</h1>
  </ion-text>

  <!-- Caja con borde redondeado y sombra -->
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon class="custom-icon"  name="ellipse-outline"></ion-icon>
          <ion-select class="custom-margin"[(ngModel)]="origen" placeholder="De" required>
            <ion-select-option value="Campus Alameda">Campus Alameda</ion-select-option>
            <ion-select-option value="Campus Antonio Varas">Campus Antonio Varas</ion-select-option>
            <ion-select-option value="Campus Educación Continua">Campus Educación Continua</ion-select-option>
            <ion-select-option value="Campus Maipú">Campus Maipú</ion-select-option>
            <ion-select-option value="Campus Melipilla">Campus Melipilla</ion-select-option>
            <ion-select-option value="Campus Padre Alonso de Ovalle">Campus Padre Alonso de Ovalle</ion-select-option>
            <ion-select-option value="Campus Plaza Norte">Campus Plaza Norte</ion-select-option>
            <ion-select-option value="Campus Plaza Oeste">Campus Plaza Oeste</ion-select-option>
            <ion-select-option value="Campus Plaza Vespucio">Campus Plaza Vespucio</ion-select-option>
            <ion-select-option value="Campus Puente Alto">Campus Puente Alto</ion-select-option>
            <ion-select-option value="Campus San Bernardo">Campus San Bernardo</ion-select-option>
            <ion-select-option value="Campus San Carlos de Apoquindo">Campus San Carlos de Apoquindo</ion-select-option>
            <ion-select-option value="Campus San Joaquín">Campus San Joaquín</ion-select-option>
            <ion-select-option value="Campus Valparaíso">Campus Valparaíso</ion-select-option>
            <ion-select-option value="Campus Viña del Mar">Campus Viña del Mar</ion-select-option>
            <ion-select-option value="Campus San Andrés de Concepción">Campus San Andrés de Concepción</ion-select-option>
            <ion-select-option value="Campus Arauco">Campus Arauco</ion-select-option>
            <ion-select-option value="Campus Nacimiento">Campus Nacimiento</ion-select-option>
            <ion-select-option value="Campus Villarrica">Campus Villarrica</ion-select-option>
            <ion-select-option value="Campus Puerto Montt">Campus Puerto Montt</ion-select-option>
            <!-- Agrega más opciones según lo necesario -->
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="ellipse-outline"></ion-icon>
          <ion-input placeholder="A"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-input placeholder="Hoy"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon class="custom-icon" name="person-outline"></ion-icon>
          <ion-select class="custom-margin" placeholder="1 Pasajero" required>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button expand="block" [routerLink]="['/buscar-viajes']" [queryParams]="{ origen: origen, destino: destino }">
        Buscar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Información Adicional -->
  <div class="ion-padding ion-margin-top">
    <ion-text color="medium" class="info-text">
      <ion-icon name="globe-outline"></ion-icon>
      <h6 class="info-text">Encuentra los mejores viajes</h6>
      <p class="info-text">Como estudiante de Duoc, tienes acceso a una red de compañeros en toda la ciudad. Encuentra el viaje perfecto con salida y llegada en los puntos más cercanos a tu sede.</p>

      <ion-icon name="shield-checkmark-outline" class="ion-margin-top"></ion-icon>
      <h6 class="info-text">Viaja seguro y tranquilo</h6>
      <p class="info-text">Tu seguridad es nuestra prioridad. Conoce a tus compañeros de viaje a través de perfiles verificados y reseñas de estudiantes como tú. Viaja con confianza y tranquilidad.</p>

      <ion-icon name="rocket-outline" class="ion-margin-top"></ion-icon>
      <h6 class="info-text">¡Busca, elige y a viajar!</h6>
      <p class="info-text">Reservar un viaje es fácil y rápido. Utiliza nuestra app para encontrar viajes cercanos y coordinar con otros estudiantes en minutos. ¡No pierdas tiempo y únete a la comunidad de Duoc que ya está viajando!</p>
    </ion-text>
  </div>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      &copy; 2024 TellevoAPP - Todos los derechos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>
