<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">TellevoAPP</ion-title>
    <ion-buttons slot="start" class="ion-padding">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-padding">
      <ion-icon name="search-outline" class="ion-margin-end small-icon"></ion-icon>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Para estudiantes de Duoc: Conecta, ahorra y llega más lejos juntos.</h1>
  </ion-text>

  <!-- Caja con borde redondeado y sombra -->
  <ion-card>
    <ion-card-content>
      <ion-list>
        <!-- Campo "De" -->
        <ion-item>
          <ion-icon name="ellipse-outline"></ion-icon>
          <ion-input placeholder="De"></ion-input>
        </ion-item>

        <!-- Campo "A" -->
        <ion-item>
          <ion-icon name="ellipse-outline"></ion-icon>
          <ion-input placeholder="A"></ion-input>
        </ion-item>

        <!-- Campo "Fecha" -->
        <ion-item>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-input placeholder="Hoy"></ion-input>
        </ion-item>

        <!-- Campo "Pasajeros" -->
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <ion-input placeholder="1 Pasajero">
          </ion-input>
        </ion-item>
      </ion-list>
      <!-- Botón de Buscar -->
      <ion-button expand="block">
        Buscar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Información Adicional -->
  <div class="ion-padding ion-margin-top">
    <ion-text color="medium" class="info-text">
      <ion-icon name="globe-outline"></ion-icon>
      <h6 class="info-text">Encuentra los mejores viajes</h6>
      <p class="info-text">Como estudiante de Duoc, tienes acceso a una red de compañeros en toda la ciudad. Encuentra el viaje perfecto con salida y llegada en los puntos más cercanos a tu sede.</p>

      <ion-icon name="shield-checkmark-outline" class="ion-margin-top"></ion-icon>
      <h6 class="info-text">Viaja seguro y tranquilo</h6>
      <p class="info-text">Tu seguridad es nuestra prioridad. Conoce a tus compañeros de viaje a través de perfiles verificados y reseñas de estudiantes como tú. Viaja con confianza y tranquilidad.</p>

      <ion-icon name="rocket-outline" class="ion-margin-top"></ion-icon>
      <h6 class="info-text">¡Busca, elige y a viajar!</h6>
      <p class="info-text">Reservar un viaje es fácil y rápido. Utiliza nuestra app para encontrar viajes cercanos y coordinar con otros estudiantes en minutos. ¡No pierdas tiempo y únete a la comunidad de Duoc que ya está viajando!</p>
    </ion-text>
  </div>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      &copy; 2024 TellevoAPP - Todos los derechos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>


