ion-icon {
  font-size: 27px;
}

.small-icon{
  font-size: 25px;
}

ion-input {
  margin-left: 10px;
}

h1 {
  font-weight: bolder;
}

/* Espacio entre el icono y el título */
.info-text h6 {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 8px; /* Reduce el espacio superior del título */
  margin-bottom: 4px; /* Reduce el espacio inferior del título */
  color: black;
}

/* Espacio entre el título y el párrafo */
.info-text p {
  margin: 4px 0 8px; /* Reduce el espacio entre párrafos */
  font-size: 15px;
}

.large-icon{
  font-size: 60px;
}

.large-menu-button {
  width: 60px; 
  height: 60px; 
}

.thin-toolbar {
  height: 60px;
  min-height: 60px; 
  --min-height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
}
.large-menu-button ion-icon {
  font-size: 1.5em; 
}

.ion-text-center {
  flex: 1;
  text-align: center;
}

/* Custom styles for the menu */
.custom-menu {
  --height: 100vh;
  top: 60px; /* Offset the menu to start below the header */
  height: var(--height);
  position: absolute; /* Ensure it doesn't cover the header */
}

/* Estilo para quitar el subrayado del enlace dentro del ion-title */
.toolbar-title {
  text-decoration: none; /* Quita el subrayado del enlace */
  color: inherit; /* Asegura que el color herede del toolbar */
  font-weight: bold; /* Opcional: ajusta el peso de la fuente según sea necesario */
}

.custom-margin{
  margin-left: 9px;
}
custom-margin-number{
  margin-left: 5px;
}

.custom-icon {
  font-size: 25px;
}

.driver-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  border: 2px solid #3880ff; /* Borde azul */
}

.trip-info, .car-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px; /* Espaciado entre items */
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #f0f0f0; /* Fondo gris claro */
  border-radius: 8px; /* Bordes redondeados */
}

ion-label {
  font-weight: bold;
}