ion-icon {
  font-size: 27px;
}

.small-icon{
  font-size: 25px;
}

ion-input {
  margin-left: 10px;
}

h1 {
  font-weight: bolder;
}

/* Espacio entre el icono y el título */
.info-text h6 {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 8px; /* Reduce el espacio superior del título */
  margin-bottom: 4px; /* Reduce el espacio inferior del título */
  color: black;
}

/* Espacio entre el título y el párrafo */
.info-text p {
  margin: 4px 0 8px;
  font-size: 15px;
}

.large-icon{
  font-size: 60px;
}

.large-menu-button {
  width: 60px; 
  height: 60px; 
}

.thin-toolbar {
  height: 60px;
  min-height: 60px; 
  --min-height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
}
.large-menu-button ion-icon {
  font-size: 1.5em; 
}

.ion-text-center {
  flex: 1;
  text-align: center;
}

.custom-menu {
  --height: 100vh;
  top: 60px;
  height: var(--height);
  position: absolute; 
}

.toolbar-title {
  text-decoration: none; 
  color: inherit; 
  font-weight: bold; 
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.profile-picture {
  width: 100%;
  border-radius: 50%;
  max-width: 120px; /* Ajusta el tamaño según tu preferencia */
  margin-bottom: 15px;
}
.ion-text-center h2 {
  font-weight: bolder;
}

.custom-background {
  background-color: #f9f9f9; /* Fondo suave */
}

.page-title {
  font-size: 1.8rem; /* Tamaño de fuente del título */
  font-weight: bold; /* Negrita para el título */
  margin-bottom: 1rem; /* Espacio debajo del título */
}

.message-list {
  margin-top: 1rem; /* Espacio en la parte superior de la lista */
}

.message-item {
  background-color: white; /* Fondo blanco para los elementos de la lista */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 0.5rem; /* Espacio entre elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.2s; /* Transición suave para efecto de hover */
}

.message-item:hover {
  transform: scale(1.02); /* Efecto de aumento al pasar el mouse */
}

.sender-name {
  font-size: 1.2rem; /* Tamaño de fuente para el nombre del remitente */
  font-weight: bold; /* Negrita para el nombre */
}

.last-message {
  font-size: 1rem; /* Tamaño de fuente para el último mensaje */
  color: #555; /* Color gris suave */
}

.timestamp {
  font-size: 0.9rem; /* Tamaño de fuente para la marca de tiempo */
  color: #999; /* Color gris más claro */
}

.navigate-icon {
  color: #007bff; /* Color del ícono de navegación */
}
