<ion-menu side="start" content-id="main-content" class="custom-menu">
  <ion-header></ion-header>
  <ion-content>
    <ion-list>
      <!-- Menú de navegación -->
      <ion-item *ngIf="!isAuthenticated" [routerLink]="['/login']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Iniciar sesión</ion-label>
      </ion-item>
      <ion-item *ngIf="!isAuthenticated" [routerLink]="['/register']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Registrarse</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/viajes']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Tus Viajes</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/mensajes']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Mensajes</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/perfil']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" (click)="logout()">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Content -->
<ion-header>
  <ion-toolbar class="thin-toolbar">
    <ion-title class="ion-text-center">
      <a [routerLink]="['/home']" class="toolbar-title">TellevoAPP</a>
    </ion-title>
    <ion-buttons slot="start" class="ion-padding toolbar-buttons">
      <ion-menu-button class="large-menu-button">
        <ion-icon name="person-outline"></ion-icon>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-padding toolbar-buttons">
      <ion-icon name="search-outline" class="ion-margin-end small-icon" [routerLink]="['/buscar']"></ion-icon>
      <ion-icon name="add-circle-outline" [routerLink]="['/origen']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-segment [(ngModel)]="segmentModel" class="segment-tabs">
    <ion-segment-button value="conductor">
      <ion-label>Viajes como Conductor</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mis-viajes">
      <ion-label>Mis Viajes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Viajes como Conductor -->
  <ion-content *ngIf="segmentModel === 'conductor'">
    <ion-list>
      <ion-item *ngFor="let viaje of viajesComoConductor; let i = index" class="trip-item">
        <ion-label>
          <h2 class="trip-route">{{ viaje.origen }} - {{ viaje.destino }}</h2>
          <p class="trip-date">Fecha: {{ viaje.fecha }}</p>
          <p class="trip-seats">Asientos disponibles: {{ viaje.pasajeros }}</p>
        </ion-label>

        <div class="button-group">
          <ion-button fill="outline" (click)="editarViaje(i)" class="edit-button">Editar</ion-button>
          <ion-button fill="outline" (click)="eliminarViaje(i)" class="delete-button">Eliminar</ion-button>
        </div>
      </ion-item>
    </ion-list>
    <!-- Mensaje cuando no hay viajes como conductor -->
  <div *ngIf="viajesComoConductor.length === 0" class="no-trips-message">
    <p>No tienes viajes como conductor.</p>
  </div>
  </ion-content>

  <!-- Viajes Reservados -->
  <ion-content *ngIf="segmentModel === 'mis-viajes'">
    <ion-list>
      <ion-item *ngFor="let viaje of misViajes; let i = index" class="trip-item">
        <ion-label>
          <h2 class="trip-route">{{ viaje.viaje.origen }} - {{ viaje.viaje.destino }}</h2>
          <p class="trip-date">Fecha: {{ viaje.viaje.fecha }}</p>
          <p class="trip-seats">Asientos disponibles: {{ viaje.viaje.pasajeros }}</p>
        </ion-label>

        <div class="button-group">
          <ion-button fill="outline" (click)="cancelarReserva(i)" class="cancel-button">Cancelar</ion-button>
          <ion-button fill="outline" [routerLink]="['/detalles-mis-viajes', viaje.id]" class="view-button">Ver</ion-button>
        </div>
      </ion-item>
    </ion-list>

    <div *ngIf="misViajes.length === 0" class="no-trips-message">
      <p>No tienes viajes reservados.</p>
    </div>
  </ion-content>
</ion-content>
