<ion-menu side="start" content-id="main-content" class="custom-menu">
  <ion-header>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- Authentication-related menu items -->
      <ion-item *ngIf="!isAuthenticated" [routerLink]="['/login']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Iniciar sesión</ion-label>
      </ion-item>
      <ion-item *ngIf="!isAuthenticated" [routerLink]="['/register']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Registrarse</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/viajes']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Tus Viajes</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/mensajes']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Mensajes</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" [routerLink]="['/perfil']">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item *ngIf="isAuthenticated" (click)="logout()">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Content -->
<ion-header>
  <ion-toolbar class="thin-toolbar">
    <ion-title class="ion-text-center"><a [routerLink]="['/home']" class="toolbar-title">
      TellevoAPP
    </a></ion-title>
  
    <ion-buttons slot="start" class="ion-padding toolbar-buttons">
      <ion-menu-button class="large-menu-button">
        <ion-icon name="person-outline"></ion-icon>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    
    <ion-buttons slot="end" class="ion-padding toolbar-buttons">
      <ion-icon name="search-outline" class="ion-margin-end small-icon" [routerLink]="['/buscar']"></ion-icon>
      <ion-icon name="add-circle-outline" [routerLink]="['/publicar']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h2>Detalles del viaje</h2>
  </ion-text>
  
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-select class="custom-margin" [(ngModel)]="origen" placeholder="Origen" required>
            <ion-select-option value="Campus Alameda">Campus Alameda</ion-select-option>
            <ion-select-option value="Campus Antonio Varas">Campus Antonio Varas</ion-select-option>
            <ion-select-option value="Campus Educación Continua">Campus Educación Continua</ion-select-option>
            <ion-select-option value="Campus Maipú">Campus Maipú</ion-select-option>
            <ion-select-option value="Campus Melipilla">Campus Melipilla</ion-select-option>
            <ion-select-option value="Campus Padre Alonso de Ovalle">Campus Padre Alonso de Ovalle</ion-select-option>
            <ion-select-option value="Campus Plaza Norte">Campus Plaza Norte</ion-select-option>
            <ion-select-option value="Campus Plaza Oeste">Campus Plaza Oeste</ion-select-option>
            <ion-select-option value="Campus Plaza Vespucio">Campus Plaza Vespucio</ion-select-option>
            <ion-select-option value="Campus Puente Alto">Campus Puente Alto</ion-select-option>
            <ion-select-option value="Campus San Bernardo">Campus San Bernardo</ion-select-option>
            <ion-select-option value="Campus San Carlos de Apoquindo">Campus San Carlos de Apoquindo</ion-select-option>
            <ion-select-option value="Campus San Joaquín">Campus San Joaquín</ion-select-option>
            <ion-select-option value="Campus Valparaíso">Campus Valparaíso</ion-select-option>
            <ion-select-option value="Campus Viña del Mar">Campus Viña del Mar</ion-select-option>
            <ion-select-option value="Campus San Andrés de Concepción">Campus San Andrés de Concepción</ion-select-option>
            <ion-select-option value="Campus Arauco">Campus Arauco</ion-select-option>
            <ion-select-option value="Campus Nacimiento">Campus Nacimiento</ion-select-option>
            <ion-select-option value="Campus Villarrica">Campus Villarrica</ion-select-option>
            <ion-select-option value="Campus Puerto Montt">Campus Puerto Montt</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input [(ngModel)]="destino" placeholder="Destino" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-select [(ngModel)]="pasajeros"  placeholder="Asientos" required>
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <input type="date" [(ngModel)]="fechaViaje" [attr.min]="minDate" required>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Hora de Salida</ion-label>
          <ion-input type="time" [(ngModel)]="horaSalida" placeholder="HH:MM" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Precio del Viaje</ion-label>
          <ion-input type="number" [(ngModel)]="precio" required></ion-input>
        </ion-item>
      </ion-list>

      <!-- Car Section -->
      <ion-card class="car-card" style="--min-height: 80px; background-color: #f9f9f9; border-radius: 12px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);">
        <ion-item>
          <ion-icon name="car-sport" slot="start" style="font-size: 30px; color: #3880ff;"></ion-icon>
          <ion-label>
            <h3 style="font-size: 18px; color: #333;">Auto Agregado</h3>
            <p style="margin: 0;">Modelo: <strong>Modelo Fijo</strong></p>
            <p style="margin: 0;">Marca: <strong>Marca Fija</strong></p>
            <p style="margin: 0;">Color: <strong>Color Fijo</strong></p>
            <p style="margin: 0;">Patente: <strong>ABC1234</strong></p>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        
        <ion-button fill="clear" expand="full" style="color: #3880ff;">
          <ion-icon name="add-circle-outline" style="font-size: 20px;"></ion-icon>
          Añadir
        </ion-button>
      </ion-card>

      <ion-button expand="block" (click)="confirmarPublicacion()">
        Publicar Viaje
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
