/* Tamaños de iconos */
ion-icon {
    font-size: 27px; /* Tamaño base para iconos */
  }
  
  .small-icon {
    font-size: 25px; /* Tamaño para iconos pequeños */
  }
  
  .large-icon {
    font-size: 60px; /* Tamaño para iconos grandes */
  }
  
  /* Estilo para el encabezado */
  h2 {
    font-weight: bolder; /* Mayor peso para el título */
  }
  
  .large-menu-button {
    width: 60px; 
    height: 60px; 
  }
  
  /* Estilo del toolbar */
  .thin-toolbar {
    height: 60px;
    min-height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Estilo para botones del toolbar */
  .toolbar-buttons {
    display: flex;
    align-items: center;
  }
  
  /* Ajustes para iconos en botones grandes */
  .large-menu-button ion-icon {
    font-size: 1.5em; /* Aumentar tamaño de iconos en botones grandes */
  }
  
  /* Centrado del texto en el toolbar */
  .ion-text-center {
    flex: 1;
    text-align: center;
  }
  
  /* Estilo del menú personalizado */
  .custom-menu {
    --height: 100vh;
    top: 60px; /* Offset del menú para empezar debajo del encabezado */
    height: var(--height);
    position: absolute; /* Asegura que no cubra el encabezado */
  }
  
  /* Estilo para quitar el subrayado del enlace dentro del ion-title */
  .toolbar-title {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: inherit; /* Asegura que el color herede del toolbar */
    font-weight: bold; /* Opcional: ajusta el peso de la fuente según sea necesario */
  }
  
  /* Estilo del contenedor del formulario */
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px; /* Espaciado interno */
  }
  
  /* Estilos para botones y mensajes */
  .submit-button {
    background-color: #3880ff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    transition: background-color 0.3s; /* Transición suave */
  }
  
  .submit-button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
  }
  
  .message {
    margin-top: 15px;
  }
  
  ion-text a {
    color: #3880ff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
  }
  
  ion-text a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
  }
  