<ion-header>
  <ion-toolbar class="thin-toolbar">
    <ion-title class="ion-text-center large-title">
      <a [routerLink]="['/home']" class="toolbar-title">TellevoAPP</a>
    </ion-title>

    <ion-buttons slot="start" class="ion-padding toolbar-buttons">
      <ion-menu-button class="large-menu-button">
        <ion-icon name="person-outline"></ion-icon>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" class="ion-padding toolbar-buttons">
      <ion-icon name="search-outline" class="ion-margin-end small-icon" [routerLink]="['/buscar']"></ion-icon>
      <ion-icon name="add-circle-outline" [routerLink]="['/publicar']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="form-container">
    <h2>Restablecer Contraseña</h2>
    <p>Introduce tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>

    <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input 
          type="email" 
          [(ngModel)]="email" 
          name="email" 
          required 
          email>
        </ion-input>
      </ion-item>

      <ion-button 
        expand="full" 
        type="submit" 
        [disabled]="resetForm.invalid">
        Enviar Enlace de Restablecimiento
      </ion-button>
    </form>

    <div *ngIf="message" class="message">
      <ion-text color="success">{{ message }}</ion-text>
    </div>

    <ion-text color="medium" class="ion-text-center ion-margin-top">
      <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
    </ion-text>
  </div>
</ion-content>
