<ion-content [fullscreen]="true" class="full-height-content">
  <ion-text class="heading" color="primary">
    <h2>Ruta</h2>
  </ion-text>
  <div #mapContainer style="width: 100%; height: 100%;"></div>

  <!-- Tabla flotante con información simplificada -->
  <div class="info-table">
    <table>
      <tr>
        <td><strong>Dirección Origen:</strong></td>
        <td>{{ origenDireccion }}</td>
      </tr>
      <tr>
        <td><strong>Dirección Destino:</strong></td>
        <td>{{ destinoDireccion }}</td>
      </tr>
      <tr>
        <td><strong>Distancia (km):</strong></td>
        <td>{{ distancia | number: '1.0-2' }}</td> <!-- Muestra la distancia con hasta 2 decimales -->
      </tr>
    </table>
  </div>

  <!-- Botón en la esquina inferior derecha para ir a Pasajeros -->
  <ion-button shape="round" size="large" class="go-to-pasajeros" (click)="navigateToFecha()">
    <ion-icon name="arrow-forward-outline" class="large-icon"></ion-icon>
  </ion-button>
</ion-content>
