/* Para que el ion-content, mapa y otros elementos ocupen toda la pantalla */
ion-content, html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: bolder;
}

.heading {
  text-align: center;
  margin-top: 10px;
}

/* Contenedor del mapa que ocupa todo el espacio */
.map-container {
  width: 100%;
  height: calc(100% - 140px); /* Ajusta para compensar la altura del header y barra de búsqueda */
  position: relative;
}

/* Botón flotante redondeado con flecha */
.go-to-route-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  --background: #007aff;
  --color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-to-route-button ion-icon {
  font-size: 30px;
}

.large-icon {
  font-size: 36px; /* Icono de la flecha más grande */
}