<ion-content [fullscreen]="true">
  <ion-text class="heading" color="primary">
    <h2>¿A dónde vas?</h2>
  </ion-text>

  <!-- Barra de búsqueda para ingresar una dirección -->
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearch()" debounce="300" placeholder="Buscar destino..."></ion-searchbar>

  <!-- Sugerencias de búsqueda -->
  <ion-list *ngIf="suggestions.length > 0">
    <ion-item *ngFor="let suggestion of suggestions" (click)="onSelectSuggestion(suggestion)">
      <ion-label>{{ suggestion.place_name }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- Contenedor del mapa, ocupa toda la pantalla disponible -->
  <div #mapContainer class="map-container"></div>

  <!-- Botón para navegar a la siguiente página (ruta) -->
  <ion-button 
    *ngIf="showButton" 
    shape="round" 
    size="large"
    (click)="goToRoutePage()" 
    class="go-to-route-button">
    <ion-icon name="arrow-forward-outline" class="large-icon"></ion-icon>
  </ion-button>

</ion-content>
